/* ╨б╨в╨Ш╨Ы╨Ш ╨Ь╨Ю╨Ф╨Р╨Ы╨м╨Э╨Ю╨У╨Ю ╨Ю╨Ъ╨Э╨Р */
/* ╨Ч╨Р╨п╨Т╨Ъ╨Р ╨Ю╨С╨а╨Р╨в╨Э╨Ю╨У╨Ю ╨Ч╨Т╨Ю╨Э╨Ъ╨Р */

#mask {
  position: absolute;
  z-index: 9000;
  top: -1px;
  left: -1px;

  display: none;

  background-color: #ccc;
}

#boxes {
  .window {
    position: fixed;
    z-index: 9999;

    display: none;
  }
  #dialog {
    width: 600px;
    height: auto;
    min-height: 400px;

    -webkit-transition: .4s ease-out;
       -moz-transition: .4s ease-out;
        -ms-transition: .4s ease-out;
         -o-transition: .4s ease-out;
            transition: .4s ease-out;
    text-align: center;

    border: 1px solid #dedede;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    background-color: #f3f3f3;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    h3 {
      font: normal 21px 'Open Sans', Verdana, Geneva, sans-serif;
      line-height: 1;

      padding: 15px 0 27px 0;

      text-align: center;

      color: #000;
    }
  }
}

.close {
  margin: 0 0 0 570px;
}

@media screen and (max-width: 240px) {
  #boxes #dialog {
    width: 90%;
    height: 90%;
    min-height: 50%;

    -webkit-transition: .4s ease-out;
       -moz-transition: .4s ease-out;
        -ms-transition: .4s ease-out;
         -o-transition: .4s ease-out;
            transition: .4s ease-out;
    text-align: center;

    border: 1px solid #dedede;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    background-color: #f3f3f3;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
  }
  .close {
    margin: 0 0 0 92%;
  }
}

@media screen and (min-width: 241px) and (max-width: 599px) {
  #boxes #dialog {
    width: 95%;
    height: 95%;
    min-height: 50%;

    -webkit-transition: .4s ease-out;
       -moz-transition: .4s ease-out;
        -ms-transition: .4s ease-out;
         -o-transition: .4s ease-out;
            transition: .4s ease-out;
    text-align: center;

    border: 1px solid #dedede;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    background-color: #f3f3f3;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
  }
  .close {
    margin: 0 0 0 92%;
  }
}

@media screen and (min-width: 600px) and (max-width: 709px) {
  #boxes #dialog {
    width: 500px;
    height: auto;
    min-height: 400px;

    -webkit-transition: .4s ease-out;
       -moz-transition: .4s ease-out;
        -ms-transition: .4s ease-out;
         -o-transition: .4s ease-out;
            transition: .4s ease-out;
    text-align: center;

    border: 1px solid #dedede;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    background-color: #f3f3f3;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
  }
  .close {
    margin: 0 0 0 470px;
  }
}
